body {
    background: #141414;
    margin: 0 0 0 0;
}

nav {
    display: flex;
    background: #000;
    padding: 1em 1em 1em 1em;
}

nav a{
    color: antiquewhite;
    text-decoration: none;
    margin-right: 10px;
}

nav .divider {
    margin-left: auto;
}
